<div class="editor-page">
    <div class="container page">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-xs-12">
                <ul class="error-messages" *ngIf="errors">
                    <li *ngFor="let errorTitle of errorsTitle">
                        title {{  ' ' + errorTitle }}
                    </li>
                    <li *ngFor="let errorBody of errorsBody">
                        body {{  ' ' + errorBody }}
                    </li>
                    <li *ngFor="let errorDes of errorsDes">
                        description {{  ' ' + errorDes }}
                    </li>
                </ul>
                <form [formGroup]="formEditor">
                    <fieldset>
                        <fieldset class="form-group">
                            <input type="text" class="form-control form-control-lg" placeholder="Article Title"
                                formControlName="articleTitle">
                        </fieldset>
                        <fieldset class="form-group">
                            <input type="text" class="form-control" placeholder="What's this article about?"
                                formControlName="articleAbout">
                        </fieldset>
                        <fieldset class="form-group">
                            <textarea class="form-control" rows="8" placeholder="Write your article (in markdown)"
                                formControlName="articleContent"></textarea>
                        </fieldset>
                        <fieldset class="form-group">
                            <input type="text" class="form-control" placeholder="Enter tags" formControlName="tags"
                                (keyup.enter)="enterTag($event)" formControlName="tags">
                            <div class="tag-list" *ngIf="slug">
                                <span class="tag-default tag-pill" *ngFor="let tag of articleBySlugTags; index as i"><i
                                        class="ion-close-round" (click)="deleteTag(i);"></i>{{ tag }}</span>
                            </div>
                            <div class="tag-list">
                                <span class="tag-default tag-pill" *ngFor="let tag of tagList; index as i"><i
                                        class="ion-close-round" (click)="deleteTag(i);"></i>{{ tag }}</span>
                            </div>
                        </fieldset>
                        <button class="btn btn-lg pull-xs-right btn-primary" type="button" (click)="onEdit()">
                            Publish Article
                        </button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>